body {
  font-family: sans-serif;
  background: #dedcdc;
}
.quiz-container {
  position: relative;
  padding: 30px 15px;
  width: 700px;
  max-width: 80%;
  margin: auto;
  border-radius: 5px;
  background: white;
  box-shadow: 0 0 3px 0 gray;
}
.questions {
  margin-bottom: 10px;
  font-weight: 600px;
}

.btn {
  padding: 5px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 3px;
  box-shadow: 0 0 7px 1px;
}

.hide {
  display: none;
}
.controls {
  background: #6a797a;
  display: flex;
  margin-top: 3px;
  justify-content: center;
  margin-top: 60px;
  padding: 10px 0;
}

.show-right-wrong-container {
  position: absolute;
  margin-left: 80%;
}
.progress {
  font-family: MalloryMP, Mallory, Verdana, sans-serif;
  color: #6a797a;
  margin-bottom: 10px;
}
.label {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 95%;
  /* padding: 10px; */
  color: red;
}
.input {
  margin-right: 10px;
}
